#**************************************************************
#*                                                            *
#*   Copyright (C) Microsoft Corporation. All rights reserved.*
#*                                                            *
#**************************************************************

[Unit]
Description=OpenBMC Hardware Watchdog

[Service]
ExecStart={sbindir}/obmc-ast-watchdog
Restart=always

[Install]
WantedBy={SYSTEMD_DEFAULT_TARGET}
